.advantages {
  background-color: @grey-light;

  &__slogan {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: @black-green;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    color: @black;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: @black-green;
  }
}
