.advantages {
  text-align: center;
}

.advantages__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: @black-green;
  display: block;
}

.advantages__wrapper {
  background-color: @grey-light;
}

.advantages__list {
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  color: @black;
}

.advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @black-green;
}

.advantages__cell-phone {
  margin: 0 auto;
}

.advantages__cell-phone--invisible {
  display: none;
}
