.advantages {
  &__slogan {
    .text(24px; 300; 29px);
    color: @black-green;
  }

  &__title {
    .text(18px; 700; 36px);
    color: @black;
  }

  &__text {
    .text(14px; 400; 24px);
    color: @black-green;
  }
}
