.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: @green-button;
  color: @white;
  text-transform: uppercase;
  border: 2px solid @green-button;
  border-radius: 3px;
  padding: 15px;
}
