.contacts__caption {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: @black-green;
  text-align: center;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contacts__text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: @black-green;
  display: block;
}

.contacts__link {
  text-decoration: none;
}

.contacts__adress,
.contacts__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: @cherry;
}

.contacts__map {
  position: relative;
  height: 200px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__map-marker {
  position: absolute;
  top: 50%;
  left: 50%;
}
