.contacts {
  &__caption {
    .text(24px; 300; 29px);
    color: @black-green;
  }

  &__text-title {
    .text(18px; 700; 24.5px);
    color: @black-green;
  }

  &__adress,
  &__link {
    .text(24px; 300; 33px);
    color: @cherry;
  }
}
