.contacts__caption {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: @black-green;
}

.contacts__text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: @black-green;
}

.contacts__adress,
.contacts__link {
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  color: @cherry;
}
