.editor__title {
  padding: 20px 0 40px;

  @media (min-width: @tablet-width) {
    padding: 20px 0 40px;
  }
}

.editor__call {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @black-green;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}

.editor__form {
  background-color: @grey-light;
  padding: 20px 20px 40px;
  position: relative;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 202px;
    right: 0;
    left: 0;
    border-bottom: 1px solid @black-green-border;
  }
}

.editor__img {
  margin: 0 auto 24px;

  @media (min-width: @tablet-width) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.editor__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 75px;

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.editor__list {
  position: relative;
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 240px;
  min-height: 100px;
  align-items: center;
  padding: 20px 23px 35px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin: 30px auto 10px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.editor__item {
  //padding-bottom: 30px;
  //margin-top: 70px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    border-bottom: 1px solid @black-green-border;
    padding-bottom: 0;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 380px;
  }
}

.editor__range-fill,
.editor__range-contrast {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.editor__range-crop {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.editor__buttons {
  height: 122px;
  margin: 0 auto;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0;
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }
}

.editor__post {
  border: 3px solid @cherry;
  border-radius: 30px;

  &:hover {
    outline: none;
    background-color: @cherry;
    color: @white;
  }

  &:active {
    outline: none;
    background-color: @cherry;
    color: @white-03;
  }
}

.editor__cancel {
  border: 3px solid @black-green;
  border-radius: 30px;
  color: @black-green;
  opacity: 0.1;

  &:hover {
    outline: none;
    opacity: 0.3;
  }

  &:active {
    outline: none;
    background-color: @black-green;
    opacity: 0.3;
    color: @white-03;
  }
}
