.list__name {
  margin: 25px 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
}

.list-name__item {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
    margin: 25px 0;
  }
}
