.list-address {
  @media (min-width: @tablet-width) {
    padding: 0 82px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }
}

.list-address__item {
  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: @desktop-width) {
    width: 40%;
  }
}

.list-address__label {
  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}

.list-address__input {
  &:hover {
    border-color: @black-green;
  }

  &:active {
    outline: 0;
    border-color: @cherry;
  }
}
