.main-nav.main-nav--closed {
  background-color: @black-03;
}

.main-nav.main-nav--opened {
  background-color: @black-green;
  border-bottom: 1px solid @black;

  @media (min-width: @desktop-width) {
    background-color: @black-03;
  }
}

.main-nav--opened .main-nav__list {
  display: block;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @desktop-width) {
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    min-width: 618px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}



.main-nav__wrapper {
 // position: relative;
  height: 66px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    height: 109px;
  }

  @media (min-width: @desktop-width) {
    height: 110px;
    width: 940px;
    margin: 0 auto;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__logo-button {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 69px;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

// логотип на мобильном

@media (max-width: @mobile-width-only) {
  .main-nav__logo-tablet,
  .main-nav__logo-desktop {
    display: none;
  }
}

//логотип на планшете

@media (min-width: @tablet-width) {
  .main-nav__logo-mobile,
  .main-nav__logo-desktop {
    display: none;
  }
}

//логотип на десктопе

@media (min-width: @desktop-width) {
  .main-nav__logo-mobile,
  .main-nav__logo-tablet {
    display: none;
  }

  .main-nav__logo-desktop {
    display: block;
  }
}

// Удалить класс main-nav__close
// при  открытом меню удаляет крестик

.main-nav__close {
  display: none;
}

// Удалить класс main-nav__open
// при закрытом меню удаляет бургер

.main-nav__open {
  display: block;
}

.main-nav__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}





/*
.main-nav {
  position: absolute;
  top: 67px;
  width: 100%;

  @media (min-width: @tablet-width) {
    top: 110px;
  }

  @media (min-width: @desktop-width) {
    position: static;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    width: 618px;
  }
}*/

.main-nav__list a {
  text-decoration: none;
  color: inherit;
}


// main-nav__list--open удалить
// при закрытом меню
/*
.main-nav__list--open {
  background-color: @black-green;
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    top: 109px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    position: static;
    background-color: transparent;
    min-width: 618px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}*/


/*
.site-list__item {
  @media (max-width: @desktop-width-except) {
    height: 63px;
    background: @black-green;
    border-top: 1px solid @box-shadow;
    border-bottom: 1px solid @black;
    padding-top: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
  }
}
*/
