.main-nav__list a {
  text-decoration: none;
  color: inherit;
}

.main-nav__list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: @desktop-width) {
    display: flex;
    position: static;
    background-color: transparent;
    min-width: 618px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// main-nav__list--open удалить
// при закрытом меню
/*
.main-nav__list--open {
  background-color: @black-green;
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    top: 109px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    position: static;
    background-color: transparent;
    min-width: 618px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}*/

.site-list__item {
  height: 63px;
  background: @black-green;
  box-shadow: 0 1px 0 @black, inset 0 1px 0 @box-shadow;
}
