.message {
  @media (min-width: @tablet-width) {
    padding: 47px 60px;
  }
}

.message__textarea {
  padding-left: 20px;
  width: 100%;
  min-height: 197px;

  @media (min-width: @tablet-width) {
    min-height: 189px;
  }

  @media (min-width: @desktop-width) {
    min-height: 124px;
  }
}
