.modal-error {
  display: none;
  height: 289px;
  width: 320px;

  @media (min-width: @tablet-width) {
    height: 363px;
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    height: 377px;
    width: 780px;
  }
}

.modal-error__title {
  margin-top: 39px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: 40px;
    padding: 0 100px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
    margin-top: 40px;
  }
}

.modal-error__description {
  margin: 0;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin: 22px 0 33px;
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 20px;
    padding: 0 185px;
  }
}

.modal-error__wrapper {
  @media (min-width: @desktop-width) {
    background-color: @grey-light;
    padding: 50px 0;
    margin-top: 66px;
  }
}

.modal-error__button {
  display: block;
  width: 280px;
  margin: 0 20px;
  margin-top: 41px;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0 auto;
  }
}
