.modal-error {
  min-height: 289px;
  text-align: center;
  background: @white;
  box-shadow: 0 7px 15px @shadow;
  border-radius: 1px;
}

.modal-sent__title {
  padding-top: 22px;
}

.modal-sent__wrapper {
  background-color: @grey-light;
}


.modal-sent__center {
  min-height: 163px;
  display: flex;
}

.modal-sent__button {
  width: 100%;
  align-self: center;
}
