.modal-sent {
  display: none;
  height: 380px;
  width: 320px;

  @media (min-width: @tablet-width) {
    height: 432px;
    width: 460px;
  }

  @media (min-width: @desktop-width) {
    height: 375px;
    width: 780px;
  }
}

.modal-sent__title {
  margin: 38px 0 25px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 40px auto 0;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 38px auto 0;
  }
}

.modal-sent__description {
  width: 280px;
  margin: 22px auto 34px;

  @media (min-width: @tablet-width) {
    width: 70%;
    margin: 22px 15% 30px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
    margin: 22px auto 39px;
  }
}

.modal-sent__wrapper {
  background-color: @grey-light;

  @media (min-width: @tablet-width) {
    padding: 50px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 50px 0;
  }
}

.modal-sent__button {
  width: 280px;
  margin: 50px 20px;

  @media (min-width: @tablet-width) {
    display: block;
    width: 300px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 460px;
    margin: 0 auto;
  }
}
