.news {
  display: none;
  position: relative;

  @media (min-width: @tablet-width) {
    display: block;
    background-color: @white;
    min-height: 330px;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-light;
    min-height: 480px;
  }
}

.news__timer {
  width: 238px;
  margin: 54px 20px 0;

  @media (min-width: @desktop-width) {
    width: 298px;
    margin: 0;
  }
}

.news__description {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 50%;
    padding-right: 20px;
    padding-top: 96px;
  }

  @media (min-width: @desktop-width) {
    background-color: inherit;
    width: 940px;
    margin: 0 auto;
    padding: 162px 0 95px 370px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 54px;
    left: 20px;
    width: 238px;
    height: 276px;
    background-color: @white;
    background-image: url("../img/news-timer.svg");
    background-repeat: no-repeat;
    z-index: 2;

    @media (min-width: @desktop-width) {
      top: 67px;
      left: 0;
      width: 298px;
      height: 345px;
      background-color: @grey-light;
    }
  }
}

.news__caption {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: @black;

  @media (min-width: @tablet-width) {
    margin: 0 0 11px;
  }

  @media (min-width: @desktop-width) {
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.news__caption br {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.news__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @black-green;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-bottom: 9px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
  }
}

.news__learn-about {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: @cherry;
  text-decoration: underline;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
