.offer__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  border: 3px solid @white;
  border-radius: 29px;
  padding: 16px 36px;
  margin-top: 28px;
  display: inline-block;
  text-decoration: none;
  color: inherit;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 300px;
    padding: 16px 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    display: block;
  }

  &:hover {
    background-color: @white;
    color: @cherry;
  }

  &:active {
    background-color: @white;
    color: @cherry-03;
  }
}

.offer__list {
  list-style: none;
  margin: 32px auto 0;
  padding: 0;
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    margin-top: 46px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 67px;
    margin-left: 48px;
  }
}

.offer__item:last-child {
  padding-top: 6px;
}

.offer__systems {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  max-width: 280px;
  margin: 16px auto 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    max-width: 300px;
    margin-top: 28px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-top: 48px;
  }
}
