.offer {
  text-align: center;
  color: @white;
  background-color: @blue-dark;
}

.offer__button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.offer__systems {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
