.page-header {
  background-color: @blue-dark;
  color: @white;

  &__nav {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
  }

  &__slogan {
    font-size: 24px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
  }
}
