.page-header {
  min-height: 395px;
  background: url("../img/bg-desktop.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: @blue-dark;
  color: @white;

  @media (min-width: @tablet-width) {
    height: 618px;
  }

  @media (min-width: @desktop-width) {
    height: 815px;
    background-size: cover;
  }
}

.page-header__wrapper {
  background-color: @black-03;
}


//Удалить класс page-header__wrapper--active
//при закрытом меню

/*.page-header__wrapper--active{
  background-color: @black-green;

  @media (min-width: @desktop-width) {
    background-color: @black-03;
  }
}*/

.page-header__header {
  position: relative;
  height: 66px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    height: 109px;
  }

  @media (min-width: @desktop-width) {
    height: 110px;
    position: static;
    flex-direction: row;
    justify-content: space-between;
  }
}

//картинка на главной

/*.page-header__header--index {
  height: 286px;
  background-image: url("../img/mobile.png");
  background-repeat: no-repeat;
  background-position: -50px bottom;
  background-size: 100%;

  @media (min-width: @tablet-width) {
    height: 618px;
    background-position: -50px bottom;
  background-size: 100%;
  }

  @media (min-width: @desktop-width) {
    height: 815px;
    background-position: -50px bottom;
    background-size: 100%;
  }
}*/

.page-header__logo-close {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;

  @media (min-width: @tablet-width) {
    height: 110px;
  }
}

// логотип на мобильном

@media (max-width: @mobile-width-only) {
  .page-header__logo-tablet,
  .page-header__logo-desktop {
    display: none;
  }
}

//логотип на планшете

@media (min-width: @tablet-width) {
  .page-header__logo-mobile,
  .page-header__logo-desktop {
    display: none;
  }
}

//логотип на десктопе

@media (min-width: @desktop-width) {
  .page-header__logo-mobile,
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}

.page-header__toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__nav {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

// Состояние main-nav__list
// при закрытом меню

.main-nav__list {
  background-color: @black-green;
  width: 100%;
  position: absolute;
  top: 66px;
  left: 0;
  display: flex;
  flex-direction: column;  //display: none; ошибка дубликат

  @media (min-width: @tablet-width) {
    top: 109px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    position: static;
    background-color: transparent;
    min-width: 618px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

// Удалить класс page-header__close
// при закрытом меню

.page-header__close {
  display: none;
}

// Удалить класс page-header__open
// при закрытом меню

/*.page-header__open {
  display: none;
}*/

.page-header__section {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.page-header__slogan {
  min-height: 395px;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  margin: 0;
  padding: 30px 45px;
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: @tablet-width) {
    min-height: 25px;
  }
}

.page-header__download {
  text-align: center;
  color: @white;
  min-height: 271px;
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.page-header__title {
  width: 228px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
}
