.page-header {
  height: 462px;
  background-color: @blue-dark;
  color: @white;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  margin-bottom: 271px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    height: 729px;
    background-position: 50%;
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    height: 835px;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.page-header__section {
  background-position: 50% 24%;
  background-image: url("../img/mobile.png");
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile@2x.png");
    background-size: 320px auto;
  }

  @media (min-width: @tablet-width) {
    background-position: 50%;
    background-image: url("../img/tablet.png");
    background-size: auto 545px;
    height: 545px;
    margin-top: 74px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    height: 632px;
    background-image: url("../img/desktop.png");
    background-position: -15% 0;
    background-size: auto 632px;
    margin-top: 93px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop@2x.png");
    }
  }
}

.page-header__slogan {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    margin-left: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    font-size: 50px;
    line-height: 68px;
  }
}

.page-header__download {
  background-color: @blue-dark;
  margin-top: 313px;
  text-align: center;
  color: @white;
  min-height: 271px;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    padding: 0;
    margin-left: 20px;
    width: 300px;
    margin-top: 39px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    margin-top: 33px;
  }
}

.page-header__title {
  width: 228px;
  margin: 36px auto 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 81px auto 0;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    width: 747px;
    margin: 74px auto 0;
  }
}

.page-header.page-inner {
  height: 237px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    height: 440px;
  }

  @media (min-width: @desktop-width) {
    height: 394px;
  }
}
