.photos__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @black-green;
  text-align: center;
  padding: 0 35px;
}

.photos__full {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.photos__panorama-label {
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: @cherry;
  color: @white;
  padding: 10px 15px;
}

.photos__list {
  list-style: none;
}

.photos__item {
  padding: 0;
}

.photos__wrapper {
  margin: 0;
}

.photos__caption {
  background-color: @grey-light;
}

.photos__description {
  margin-left: 17px;
  margin-right: 0;
  margin-top: 0;
  text-align: left;
}

.photos__autor {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @black-green;
  font-style: normal;
}

.photos__timer {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @black-green;
  text-transform: uppercase;
}

.photos__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @black-green;
}

.photos__button {
  text-decoration: none;
}

.photos__counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @cherry;
}
