.photos__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @black-green;
  text-align: center;
  padding: 0 35px;
  margin: 42px auto 50px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin: 100px auto 85px;
    padding: 0 100px;
  }

  @media (min-width: @desktop-width) {
    margin: 100px auto 97px;
    padding: 0 280px;
  }
}

.photos__panorama {
  position: relative;
  margin: 0;

  &::before {
    position: absolute;
    content: "Панорама дня";
    top: 0;
    right: 6%;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: @cherry;
    color: @white;
    padding: 5px 15px;

    @media (min-width: @tablet-width) {
      top: 60px;
      right: 3%;
    }

    @media (min-width: @desktop-width) {
      right: 130px;
    }
  }
}

.photos__full {
  width: 100%;
  min-height: 137px;

  @media (min-width: @tablet-width) {
    min-height: 509px;
  }

  @media (min-width: @desktop-width) {
    min-height: 506px;
  }
}

.photos__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 54px;
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}

.photos__item figure {
  margin: 0;
  display: flex;

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.photos__item {
  width: 88%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding: 0 10px;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 100%;
    padding: 0;
  }
}

.photos__img {
  width: 100%;
  height: auto;

  @media (min-width: @tablet-width) {
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
    width: 300px;
  }
}

.photos__caption {
  background-color: @grey-light;
  min-height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 14px;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 155px;
    padding: 20px 32px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    flex-grow: 1;
  }

  &--top {
    width: 88%;
    min-height: 121px;
    margin: 0 auto;
    margin-bottom: 20px;

    @media (min-width: @tablet-width) {
      width: 94%;
      margin-bottom: 50px;
    }

    @media (min-width: @desktop-width) {
      width: 940px;
      margin: 0 auto;
      margin-bottom: 50px;
      min-height: 96px;
    }
  }
}

.photos__description {
  margin: 0;
}

.photos__author {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @black-green;
  font-style: normal;
}

.photos__timer {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @black-green;
  text-transform: uppercase;
}

.photos__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @black-green;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.photos__button {
  text-decoration: none;
}

.photos__counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @cherry;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 20px;
  }
}

.photos__likes {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &--top {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 23px;
      right: 24px;
      justify-self: start;
    }
  }
}
