.photos__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @black-green;
  text-align: center;
  padding: 0 35px;
  margin: 44px auto 50px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin: 91px auto 77px;
    padding: 0 100px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 91px auto 89px;
    padding: 0;

    br {
      display: block;
    }
  }
}

.photos__panorama {
  position: relative;
  margin: 0;

  &::before {
    position: absolute;
    content: "Панорама дня";
    top: 0;
    right: 6%;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: @cherry;
    color: @white;
    padding: 6px 20px;

    @media (min-width: @tablet-width) {
      top: 57px;
      right: 3%;
    }

    @media (min-width: @desktop-width) {
      top: 53px;
      right: 20%;
      padding: 7px 20px;
    }
  }
}

.photos__full {
  width: 100%;
  object-fit: cover;
  height: 137px;

  @media (min-width: @tablet-width) {
    height: 509px;
  }

  @media (min-width: @desktop-width) {
    height: 506px;
  }
}

.photos__list {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  display: grid;
  grid-auto-rows: auto;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 54px;
    width: 940px;
    margin: 0 auto;
    padding: 0;
  }
}

.photos__item figure {
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.photos__item {
  @media (min-width: @tablet-width) {
    display: grid;
    padding: 0;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    width: 100%;
    padding: 0;
  }
}

.photos__img {
  width: 100%;
  height: auto;
}

.photos__caption {
  background-color: @grey-light;
  min-height: 121px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 10px 17px 17px;
  position: relative;

  @media (min-width: @tablet-width) {
    min-height: 155px;
    padding: 23px 30px;
    flex-grow: 1;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }

  &--top {
    min-height: 121px;
    margin: 0 20px 20px;


    @media (min-width: @tablet-width) {
      margin: 0 20px 50px;
      padding-bottom: 14px;
    }

    @media (min-width: @desktop-width) {
      width: 940px;
      margin: 0 auto;
      margin-bottom: 50px;
      min-height: 96px;
    }
  }
}

.photos__description {
  margin: 0;
}

.photos__author {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: @black-green;
  font-style: normal;
}

.photos__timer {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @black-green;
  text-transform: uppercase;
}

.photos__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: @black-green;
  margin: 0;
  margin-bottom: 11px;

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.photos__button {
  text-decoration: none;
}

.photos__counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: @cherry;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 16px;
  }
}

.photos__likes {
  display: flex;

  @media (min-width: @tablet-width) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &--top {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 25px;
      right: 30px;
      justify-self: start;
    }
  }
}
