.reviews {
  text-align: center;
  margin-top: -43px;

  @media (min-width: @tablet-width) {
    margin-top: 100px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.reviews__slider {
  position: relative;

  @media (min-width: @desktop-width) {
    position: relative;
    padding: 190px 100px 41px;

    &::before {
      position: absolute;
      content: "";
      width: 79px;
      height: 63px;
      background-image: url("../img/reviews-quotes.svg");
      background-repeat: no-repeat;
      opacity: 1;
      top: 78px;
      left: 432px;
    }
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__block {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: @black;
  font-style: normal;
  background-color: @white;
  margin-top: 0;
  padding-top: 42px;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-top: 35px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-about {
  display: none;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: @black-green;
    text-align: center;
    display: block;
    font-style: normal;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: @black-green;
  padding: 0 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }
}
