.site-list__item {
    background: @black-green;
    border-top: 1px solid @box-shadow;
    border-bottom: 1px solid @black;
    padding-top: 14px;
    padding-bottom: 16px;

  @media (min-width: @desktop-width) {
    background: transparent;
    border: none;
    padding: 0;
    padding-top: 50px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 29px;
        left: 0;
        height: 2px;
        background: @white;
      }
    }
  }
}

.site-list__item a[href] {
  padding: 15px 0;

  &:hover {
    color: @cherry;
  }

  &:active {
    opacity: 0.3;
  }


  @media (min-width: @desktop-width) {
    padding: 20px 0;

    &:hover {
      color: @cherry;
    }

    &:active {
      color: @white;
      opacity: 0.3;
    }
  }
}
