.social-list {
  width: 172px;
  display: flex;
  justify-content: space-between;
}

.social-list__item {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.social-list__logo {
  fill: @cherry;
  stroke: @black-green;
  stroke-opacity: 0.1;
}

.social-list__link {
  &:hover .social-list__logo {
    stroke-opacity: 1;
    stroke: @black-green;
  }

  &:active .social-list__logo {
    fill: @cherry-03;
    stroke-opacity: 0.1;
  }
}
