.tariffs {
  background-color: @grey-light;
}


.tariff {
  background-color: @black-green;
  color: @white;
  text-transform: uppercase;

  &__caption {
    .text(16px; 700; 30px);
  }

  &__price {
    .text(18px; 300; 30px);
  }
}

.options {
  &__caption {
    .text(14px; 400; 30px);
    color: @black-green;
    text-transform: uppercase;
  }
}
