.tariffs {
  background-color: @grey-light;
  padding-top: 202px;
  padding-bottom: 8px;
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);

  @media (min-width: @tablet-width) {
    padding-top: 97px;
    padding-bottom: 70px;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
  }

  @media (min-width: @desktop-width) {
    padding-top: 144px;
    padding-bottom: 98px;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
}

.tariffs__pagination {
  margin: 40px auto 39px;
  width: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
