//Colors

@black: #000000;
@white: #ffffff;
@black-green: #283645;
@cherry:#d22856;
@green-check:#3DC644;
@orange-cross:#F25B26;
@green-button:#2AAB6D;
@blue-dark:#1D2631;
@grey-light:#F2F2F2;

//Mixins

.text(@size; @weight; @line) {
  font-size: @size;
  font-weight: @weight;
  line-height: @line;
}

//Fonts

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
}
