// Colors

@black: #000000;
@black-0: rgba(0, 0, 0, 0);
@black-03:rgba(0, 0, 0, 0.3);
@white: #ffffff;
@white-03: rgba(255, 255, 255, 0.3);
@black-green: #283645;
@black-green-03: rgba(40, 54, 69, 0.3);
@cherry:#d22856;
@cherry-03: rgba(210, 40, 86, 0.3);
@green-check:#3DC644;
@orange-cross:#F25B26;
@green-button:#2AAB6D;
@green-button-hover:#1c985E;
@blue-dark:#1D2631;
@grey-light:#F2F2F2;
@grey-light-border: #E5E5E5;
@shadow: rgba(0, 1, 1, 0.15);
@box-shadow: rgba(255, 255, 255, 0.15);
@black-green-border: rgba(40, 54, 69, 0.1);

// Font

@font-family--main: "OpenSans", "Arial", sans-serif;

// Viewport

@tablet-width: 660px;
@desktop-width: 960px;
@mobile-width-only: 659px;
